.main-page {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.motorcycle-icon {
  width: 150px;
}

.date, .time {
  font-size: 18px;
  margin: 5px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.start-button, .logout-button {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
  width: 200px; /* 버튼의 너비를 고정된 픽셀 값으로 설정 */
}

.start-button:hover, .logout-button:hover {
  background-color: white;
  color: black;
}
